Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [6]:
def score (rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif 2 < rating <= 4:
        return 'средний рейтинг'
    elif 4 < rating <= 5:
        return 'высокий рейтинг'

In [7]:
joined['class'] = joined['rating'].apply(score)
joined.head(10)

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,средний рейтинг
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War,низкий рейтинг
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,низкий рейтинг
7,1,1293,2.0,1260759148,Gandhi (1982),Drama,низкий рейтинг
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,средний рейтинг
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller,низкий рейтинг

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1 'Центр': ['москва', 'тула', 'ярославль'],

2 'Северо-Запад': ['петербург', 'псков', 'мурманск'],

3 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [8]:
keywords = pd.read_csv('keywords.csv')
keywords.tail(20)

                                      keyword  shows
99980                познакомиться с девушкой   3620
99981  подарок на день рождения своими руками   5938
99982                           кладоискатели   3630
99983                        марципан что это   3899
99984                               бровченко   3630
99985                                  спирея   3630
99986                                   нерка   3630
99987                        ирригатор купить   4490
99988                               пиодермия   3630
99989                проверить iphone по imei   3891
99990                       сколько лет обаме   3799
99991                            сергей жорин   4056
99992                остаться в живых 5 сезон   3696
99993              петростат официальный сайт   3634
99994                  мк газета свежий номер   3750
99995                  эльдорадо старый оскол   3705
99996                     frigate для firefox   3630
99997                                  укрсиб   3630
99998                 погода в ялте на неделю   3688
99999                                    ггму   3630

In [9]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
           }



def RegionRussia (keyword):
    keyword = keyword.lower()
    region = 'undefined'
    for data in geo_data:
        for word in geo_data[data]:
            if word in keyword:
                region = data
    return region

In [10]:
RegionRussia('сахалин')

'Дальний Восток'

In [11]:
keywords['region'] = keywords['keyword'].apply(RegionRussia)
keywords[keywords['region'] != 'undefined'].head(10)

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток
1236       банк санкт петербург  174375    Северо-Запад
1259                     москва  153050           Центр
1346            санкт петербург  144232    Северо-Запад
1396            гисметео москва  140279           Центр
1482           госуслуги москва  133061           Центр